body {
    overflow-x: hidden;
}
.jumbotron {
    background-color: #9575CD;
    color: floralwhite;;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row-content-two {
    padding: 50px 0px 50px 0px;
}

.footer {
    background-color: #D1C4E9;
    padding: 50px 0px 0px 0px;
}

.address {
    margin: 0px;
    font-size: 80%;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512DAB;
}

.tab-content {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px;
}