.jumbotron {
    background-color:#9575CD;
}

.footer {
    background-color: #D1C4E9;
    padding: 10px 0px 0px 0px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512DAB;
}